<html>
  <head>
  </head>
  <body>

  </body>

<div id="public-messages">

</div>
<input id="message" type="text" />
<a id="chat-submit">Chat</a>

<script type="text/javascript" src="/jquery-2.0.2.js">
</script>

<script type="text/javascript" src="/faye/client.js">
</script>

<script type="text/javascript">
  $(function() {
  client = new Faye.Client('/faye');

  client.subscribe("/messages/public",function(data) {
    console.log("Got Data");

    $("#public-messages").append("<b>" + data.username + "</b>: " + data.message);
  });

  $('#chat-submit').on("click",function() {
    client.publish("/messages/public", {
      username: "frank",
      message: $("#message").val()
    });
  });

  });
</script>

</html>